@import '../../scss/mixins';
@import '../../scss/buttons';

.section--Issue {}

.container {
	/*
	max-width: 900px;
	margin: 0 auto;
  */
}

.listing--page {
	display: flex;
	flex-direction: column;
	align-items: center;

	.listing__item {
		display: flex;
		justify-content: center;
		margin-bottom: 5vw;
		width: 100%;
		@include unselectable();
	}

	&.contain {
		.listing__item {
			align-items: center;
			margin: 10px;
			height: 100vh;

			.card--page {
				width: 100%;
				height: 100%;
				max-width: 90vw;
				max-height: 90vh;
			}
		}
	}

	&.cover {
		.listing__item {
			max-width: #{"min(1500px, 90vw)"};

			.card--page {
				@include aspect-clip(1920, 2716);
			}
		}
	}
}

.card--page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	overflow: hidden;
	@include unselectable();

	/*
	.picture {
		@include aspect-clip(1920, 2716);
	}
  */

	&:before {
		position: absolute;
		display: block;
		font-size: #{"min(120px, 20vw)"};
		color: rgba(255, 255, 255, 0.2);
		content: attr(data-number);
		// content: "("attr(data-number)")";
	}

	img {
		max-width: 100%;
		max-height: 100%;
		filter: grayscale(100%);
		object-fit: contain;
		padding: 10px;
		border-radius: 3px;
		background: white;
		aspect-ratio: 1920 / 2716;
		// cursor: pointer;
	}
}
