<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="twitter:card" value="<%= htmlWebpackPlugin.options.title %>">
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
	<meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />

	<link rel="apple-touch-icon" sizes="180x180" href="/scintilla/assets/img/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/scintilla/assets/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/scintilla/assets/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/scintilla/assets/img/icons/site.webmanifest">
	<link rel="mask-icon" href="/scintilla/assets/img/icons/safari-pinned-tab.svg" color="#000000">
	<link rel="shortcut icon" href="/scintilla/assets/img/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-config" content="/scintilla/assets/img/icons/browserconfig.xml">
	<meta name="theme-color" content="<%= htmlWebpackPlugin.options.color %>">
	<meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.color %>">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">

	<!--
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
	<div id="app"></div>
</body>

</html>
