html *,
body * {
	cursor: none;
}

$size: 20px;

.cursor {
	width: $size;
	height: $size;
	border: 4px solid #fefefe;
	border-radius: 100%;
	opacity: 0.3;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 150ms ease;
	transition-property: background-color, opacity, transform, mix-blend-mode;
	z-index: 9999;
	mix-blend-mode: difference;

	&--hidden {
		opacity: 0;
	}

	&--hovered {
		opacity: 1;
		transform: translate(-50%, -50%) scale(3);
		background-color: #fefefe;
	}

	&--clicked {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
		background-color: #fefefe;
	}
}
